table {
    border-collapse: collapse;
    margin: 15px;
    background-image: url(../img/fondo.jpg);
    background-size: 100%;
}

#inputs {
    margin: 15px 0px 0px 15px;
}

input {
    margin-bottom: 10px;
}

label {
    margin: 10px 10px 0px 0px;
}

td {
    width: 30px;
    height: 30px;
    border: 1px solid black;
}