//colors
$royal_blue : royalblue;
$dodger_blue: dodgerblue;
$white: white;
$slate_gray: slategrey;
//@extend-elements
//original selectors
//.month, .dayweek, .days
%extend_1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

//original selectors
//.dayweek, .days
%extend_2 {
    width: 7vw;
    height: 6vh;
    background-color: $white;
    font-weight: bold;
}

.calendar {
    display: flex;
    width: 54vw;
    height: 54vh;
    border: 1px solid $royal_blue;
    background-color: $dodger_blue;
    font-size: 4vw;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 1vw;
}

.month {
    width: 100%;
    align-self: baseline;
    background-color: $white;
    @extend %extend_1;
}

.dayweek {
    @extend %extend_1;
    @extend %extend_2;
}

.days {
    @extend %extend_1;
    @extend %extend_2;
}

o {
    color: $slate_gray;
}