<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel="stylesheet", href="css/index.css")
    body
        .contenedor
            .cabecera
                .columna
                .columna
                    .img1
                    .img2
            .cuerpo
                .seccion 
                    |60% 
                    |Est nisi dolor sunt nulla enim laborum eiusmod quis dolore. Ut culpa anim eu cupidatat occaecat elit anim. Nisi ipsum ullamco aute magna nulla deserunt nulla duis consectetur tempor et laborum sit. Sit duis aliqua consectetur aliqua culpa aute nostrud aute dolor ex tempor eiusmod veniam. Consectetur laboris sint cupidatat fugiat adipisicing nisi sint consectetur cillum proident elit.
                .seccion 20%
                .seccion 20%
            .pie