// variable
$margen:10px;
$anchoInput: 50px;
$gris: slategrey;
$bordeRoyal: royalblue;
$fondoAzul:#adcbe8;
$margin-bottom20: 20px;
//--------------
* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

.seleccion {
    margin-bottom: $margen;
}

div {
    text-align: center;
}

.month {
    width: 100% !important;
    font-weight: bold;
    background-color: white;
}

input[type="number"] {
    width: $anchoInput;
}

o {
    color: $gris;
}