<!DOCTYPE html>
- var arr=["Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio","Agosto","Septiembre","Octubre","Noviembre","Diciembre"];
- var s = 'string';
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel="stylesheet", href="css/calendario12.css")
    body
        .agno
            input(type="number", name="year", id="year")
        div.calendario
            - for (var i=0; i<12; i++){
                div.mes
                    .nombre                        
                    .DS
                    .DS
                    .DS
                    .DS
                    .DS
                    .DS
                    .DS
                    - for (var j=0; j<42; j++)
                        div
            - }
        script(src="js/calendario12.js")