#s-9430160d-f27a-485b-9931-21dec8049343 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-9430160d-f27a-485b-9931-21dec8049343 #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-9430160d-f27a-485b-9931-21dec8049343 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-9430160d-f27a-485b-9931-21dec8049343 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-9430160d-f27a-485b-9931-21dec8049343 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-9430160d-f27a-485b-9931-21dec8049343 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-9430160d-f27a-485b-9931-21dec8049343 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-9430160d-f27a-485b-9931-21dec8049343 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-9430160d-f27a-485b-9931-21dec8049343 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-9430160d-f27a-485b-9931-21dec8049343 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-9430160d-f27a-485b-9931-21dec8049343 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-9430160d-f27a-485b-9931-21dec8049343 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-9430160d-f27a-485b-9931-21dec8049343 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-9430160d-f27a-485b-9931-21dec8049343 #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-9430160d-f27a-485b-9931-21dec8049343 #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-9430160d-f27a-485b-9931-21dec8049343 #s-Rectangle_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-9430160d-f27a-485b-9931-21dec8049343 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-9430160d-f27a-485b-9931-21dec8049343 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-9430160d-f27a-485b-9931-21dec8049343 #s-Rectangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-9430160d-f27a-485b-9931-21dec8049343 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-9430160d-f27a-485b-9931-21dec8049343 #s-Rectangle_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-9430160d-f27a-485b-9931-21dec8049343 #s-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
#s-9430160d-f27a-485b-9931-21dec8049343 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-9430160d-f27a-485b-9931-21dec8049343 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-9430160d-f27a-485b-9931-21dec8049343 #s-Table_1 {
  border-collapse: separate;
}
#s-9430160d-f27a-485b-9931-21dec8049343 #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-9430160d-f27a-485b-9931-21dec8049343 #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-9430160d-f27a-485b-9931-21dec8049343 #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-9430160d-f27a-485b-9931-21dec8049343 #s-Paragraph_5 {
  -ms-transform: rotate(0.0deg);
}
#s-9430160d-f27a-485b-9931-21dec8049343 #s-Rectangle_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-9430160d-f27a-485b-9931-21dec8049343 #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-9430160d-f27a-485b-9931-21dec8049343 #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 100px;
  height: 22px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-9430160d-f27a-485b-9931-21dec8049343 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}