#s-974b268a-cc7a-4b04-bd2e-8c46a314b255 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-974b268a-cc7a-4b04-bd2e-8c46a314b255 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-974b268a-cc7a-4b04-bd2e-8c46a314b255 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-974b268a-cc7a-4b04-bd2e-8c46a314b255 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-974b268a-cc7a-4b04-bd2e-8c46a314b255 #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-974b268a-cc7a-4b04-bd2e-8c46a314b255 #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-974b268a-cc7a-4b04-bd2e-8c46a314b255 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-974b268a-cc7a-4b04-bd2e-8c46a314b255 #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-974b268a-cc7a-4b04-bd2e-8c46a314b255 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-974b268a-cc7a-4b04-bd2e-8c46a314b255 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-974b268a-cc7a-4b04-bd2e-8c46a314b255 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-974b268a-cc7a-4b04-bd2e-8c46a314b255 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-974b268a-cc7a-4b04-bd2e-8c46a314b255 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-974b268a-cc7a-4b04-bd2e-8c46a314b255 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-974b268a-cc7a-4b04-bd2e-8c46a314b255 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-974b268a-cc7a-4b04-bd2e-8c46a314b255 #s-Rectangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-974b268a-cc7a-4b04-bd2e-8c46a314b255 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-974b268a-cc7a-4b04-bd2e-8c46a314b255 #s-Rectangle_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-974b268a-cc7a-4b04-bd2e-8c46a314b255 #s-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
#s-974b268a-cc7a-4b04-bd2e-8c46a314b255 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-974b268a-cc7a-4b04-bd2e-8c46a314b255 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-974b268a-cc7a-4b04-bd2e-8c46a314b255 #s-Rectangle_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-974b268a-cc7a-4b04-bd2e-8c46a314b255 #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-974b268a-cc7a-4b04-bd2e-8c46a314b255 #s-Paragraph_4 {
  -ms-transform: rotate(0.0deg);
}
#s-974b268a-cc7a-4b04-bd2e-8c46a314b255 #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 78px;
  height: 16px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-974b268a-cc7a-4b04-bd2e-8c46a314b255 #s-Button_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 78px;
  height: 16px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-974b268a-cc7a-4b04-bd2e-8c46a314b255 #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-974b268a-cc7a-4b04-bd2e-8c46a314b255 #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-974b268a-cc7a-4b04-bd2e-8c46a314b255 #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-974b268a-cc7a-4b04-bd2e-8c46a314b255 #s-Text_17 {
  -ms-transform: rotate(0.0deg);
}
#s-974b268a-cc7a-4b04-bd2e-8c46a314b255 #s-Category_2-options {
  background-color: #FFFFFF;
}
#s-974b268a-cc7a-4b04-bd2e-8c46a314b255 #s-Text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-974b268a-cc7a-4b04-bd2e-8c46a314b255 #s-Category_3-options {
  background-color: #FFFFFF;
}
#s-974b268a-cc7a-4b04-bd2e-8c46a314b255 #s-Text_19 {
  -ms-transform: rotate(0.0deg);
}
#s-974b268a-cc7a-4b04-bd2e-8c46a314b255 #s-Button_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 104px;
  height: 24px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-974b268a-cc7a-4b04-bd2e-8c46a314b255 #s-Text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-974b268a-cc7a-4b04-bd2e-8c46a314b255 #s-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-974b268a-cc7a-4b04-bd2e-8c46a314b255 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}