* {
    box-sizing: border-box;
}

body {
    height: 100%;
}

.container {
    /* height: 30vh; */
    /* position: relative; */
}

input[type="number"] {
    width: 50px;
}

div {
    text-align: center;
}

.calendar {
    margin: auto;
    border: 2px solid #AFAFAF;
    background-color: rgba(43, 43, 43, 0.86);
    font-family: Segoe UI;
    font-size: 2vw;
    color: white;
    width: 54vmin;
    height: 56vmin;
}

.month {
    width: 100% !important;
    padding: 15px 0px;
}

.calendar div {
    display: inline-block;
    width: 7vh;
    height: 7vh;
}

b {
    color: #AFAFAF;
}