<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>BuscadorConsumoElectricoServlet</servlet-name>
        <servlet-class>es.cifpcm.consumoelectrico_Aymediacoan.buscador.web.BuscadorConsumoElectricoServlet</servlet-class>
        <init-param>
            <param-name>app.config</param-name>
            <param-value>consumoelectrico</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>MedicionesConsumo</servlet-name>
        <servlet-class>es.cifpcm.consumoelectrico_Aymediacoan.buscador.web.MedicionesConsumo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BuscadorConsumoElectricoServlet</servlet-name>
        <url-pattern>/buscadorclientes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MedicionesConsumo</servlet-name>
        <url-pattern>/MedicionesConsumo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
