* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

nav {
    float: left;
    border: 2px solid blue;
    width: 200px;
}

section {
    border: 2px solid #8A0A1B;
    margin-left: 200px;
    padding: 10px;
}