.opcion {
    float: left;
    margin: 0px;
    margin-right: 10px;
    border: 0px white solid;
}

.seleccionada {
    color: white;
    background-color: red;
    border: 1px solid red;
}

.no-seleccionada {
    color: red;
    background-color: white;
}

.contenido {
    position: absolute;
    top: 28px;
    left: 10px;
    width: 800px;
    height: 400px;
}

.oculto {
    visibility: hidden;
    border: 0px white solid;
}

.visible {
    visibility: visible;
    border: 1px red solid;
}